<md-content class="padded-content-page overlay-20 ">
    <md-grid-list class="gridListdemoDynamicTiles "
        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="8px" >


        <md-grid-tile class="green" ng-repeat="tile in vm.items" md-colspan-sm="1" style="border-radius:10%" ng-cloak="">
            <img class="img" ng-src="person/sam-killermann.jpg" width="30" height="200">
                <md-fab-speed-dial md-direction="up" class="md-fling " md-open=false >

                    <md-fab-trigger>
                        <md-button aria-label="share this post" class="md-fab md-warn">
                            <md-icon md-font-icon="zmdi zmdi-share"></md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="vm.share('Shared on Twitter', $event)">
                            <md-icon md-font-icon="fa fa-twitter"></md-icon>
                        </md-button>
                        <md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="Login()">
                            <md-icon md-font-icon="fa fa-facebook"></md-icon>
                        </md-button>
                        <md-button aria-label="google-plus" class="md-fab md-raised md-mini" ng-click="vm.share('Shared on Google+', $event)">
                            <md-icon md-font-icon="fa fa-google-plus"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>

            <md-grid-tile-footer style="height:70px;border-radius:10%">
                <h3>{{tile.Name}}</h3>
                <h3>Style:#######</h3>
                <h3>Location:#######</h3>

            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>



        <!--<form action="">-->
       <!--<div layout="row">-->
        <!--<h3>Instructor Name: <input type="text" ng-model="t1"></h3>-->
         <!--<p align="right">&nbsp;&nbsp; <input type="submit" value="search" ng-model="submit"></p>-->
       <!--</div>-->
        <!--</form>-->
        <!--<table style="width:100%" >-->
        <!--<tr>-->
            <!--<td><h2>Id</h2></td>-->
            <!--<td><h2>Name</h2></td>-->
            <!--<td><h2>Student</h2></td>-->
            <!--<td><h2>Age</h2></td>-->
            <!--<td><h2>Location</h2></td>-->
            <!--<td><h2>JOIN_Date</h2></td>-->
        <!--</tr>-->
        <!--</table>-->



<!--<div class="gridListdemoBasicUsage" ng-repeat="x in vm.items | filter:vm.itemFilter " >-->
    <!--<md-grid-list  md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px" >-->
        <!--<md-grid-tile class="green mycolor" md-rowspan="2" md-colspan="2" md-colspan-sm="0" >-->

            <!--<img class="img" ng-src="person/bill-gates.jpg" width="30" height="200">-->
            <!--<md-grid-tile-footer style="height:100px;border-radius:20%" >-->
                <!--<div flex layout="row" layout-xs="column" layout-align="space-around center" layout-margin>-->
                   <!--<div flex="80" layout="column">-->
                       <!--<h3>Name::{{ x.Name }}</h3>-->
                    <!--<h3>Style::###### </h3>-->
                    <!--<h3>Loc::{{x.Location}}</h3>-->
                       <!--</div>-->
                    <!--<div> <md-fab-speed-dial md-direction="{{vm.fabDirection}}" md-open="vm.fabStatus" ng-class="vm.fabAnimation" ng-cloak="">-->
                        <!--<md-fab-trigger>-->
                            <!--<md-button aria-label="share this post" class="md-fab md-warn">-->
                                <!--<md-icon md-font-icon="zmdi zmdi-share"></md-icon>-->
                            <!--</md-button>-->
                        <!--</md-fab-trigger>-->
                        <!--<md-fab-actions>-->
                            <!--<md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="vm.share('Shared on Twitter', $event)">-->
                                <!--<md-icon md-font-icon="fa fa-twitter"></md-icon>-->
                            <!--</md-button>-->
                            <!--<md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="vm.share('Shared on Facebook', $event)">-->
                                <!--<md-icon md-font-icon="fa fa-facebook"></md-icon>-->
                            <!--</md-button>-->
                            <!--<md-button aria-label="google-plus" class="md-fab md-raised md-mini" ng-click="vm.share('Shared on Google+', $event)">-->
                                <!--<md-icon md-font-icon="fa fa-google-plus"></md-icon>-->
                            <!--</md-button>-->
                        <!--</md-fab-actions>-->
                    <!--</md-fab-speed-dial>-->
                    <!--</div>-->
                   <!--</div>-->
            <!--</md-grid-tile-footer>-->

          <!--</md-grid-tile>-->
     <!--</md-grid-list>-->
<!--</div>-->
    <!--<md-whiteframe class="md-whiteframe-z5">-->
    <!--<md-toolbar>-->
        <!--<h1 layout-margin="20"><span class="md-display-2">Search Instructor here:</span> <input type="search" ng-model="vm.itemFilterText" ></h1>-->
    <!--</md-toolbar>-->
  <!--</md-whiteframe>-->

    <!--<div flex layout="row" layout-xs="column" layout-margin>-->
        <!--<div ng-repeat="x in vm.items | filter:vm.itemFilter " layout-align="space-around center" layout-margin>-->

                <!--<tri-widget flex class="widget-blog" palette-background="teal:300">-->
                    <!--<img  src="person/bill-gates.jpg">-->
                    <!--<div class="widget-blog-text padding-20" ng-cloak>-->
                        <!--<h2>Instructor {{x.Name}}</h2>-->
                        <!--<h2>Date of Join:{{x.Student_join_date}}</h2>-->
                        <!--<md-fab-speed-dial md-direction="up" class="md-fling">-->
                            <!--<md-fab-trigger>-->
                                <!--<md-button aria-label="share this post" class="md-fab md-warn">-->
                                    <!--<md-icon md-font-icon="zmdi zmdi-share"></md-icon>-->
                                <!--</md-button>-->
                            <!--</md-fab-trigger>-->

                            <!--<md-fab-actions>-->
                                <!--<md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="share('Shared on Twitter', $event)">-->
                                    <!--<md-icon md-font-icon="fa fa-twitter"></md-icon>-->
                                <!--</md-button>-->
                                <!--<md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="share('Shared on Facebook', $event)">-->
                                    <!--<md-icon md-font-icon="fa fa-facebook"></md-icon>-->
                                <!--</md-button>-->
                                <!--<md-button aria-label="google-plus" class="md-fab md-raised md-mini" ng-click="share('Shared on Google+', $event)">-->
                                    <!--<md-icon md-font-icon="fa fa-google-plus"></md-icon>-->
                                <!--</md-button>-->
                            <!--</md-fab-actions>-->
                        <!--</md-fab-speed-dial>-->
                    <!--</div>-->
                <!--</tri-widget>-->

        <!--</div>-->
    <!--</div>-->

        <!--<tri-widget class="widget-blog" palette-background="teal:300">-->
            <!--<img src="person/bill-gates.jpg">-->
            <!--<div class="widget-blog-text padding-20" ng-cloak>-->
                <!--<h2>Instructor Name</h2>-->
                <!--<h2>Style:####</h2>-->
                <!--<md-fab-speed-dial md-direction="up" class="md-fling">-->
                    <!--<md-fab-trigger>-->
                        <!--<md-button aria-label="share this post" class="md-fab md-warn">-->
                            <!--<md-icon md-font-icon="zmdi zmdi-share"></md-icon>-->
                        <!--</md-button>-->
                    <!--</md-fab-trigger>-->

                    <!--<md-fab-actions>-->
                        <!--<md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="share('Shared on Twitter', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-twitter"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="share('Shared on Facebook', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-facebook"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="google-plus" class="md-fab md-raised md-mini" ng-click="share('Shared on Google+', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-google-plus"></md-icon>-->
                        <!--</md-button>-->
                    <!--</md-fab-actions>-->
                <!--</md-fab-speed-dial>-->
            <!--</div>-->
        <!--</tri-widget>-->
        <!--<tri-widget class="widget-blog" palette-background="teal:300">-->
            <!--<img src="person/bill-gates.jpg">-->
            <!--<div class="widget-blog-text padding-20" ng-cloak>-->
                <!--<h2>Instructor Name</h2>-->
                <!--<h2>Style:####</h2>-->
                <!--<md-fab-speed-dial md-direction="up" class="md-fling">-->
                    <!--<md-fab-trigger>-->
                        <!--<md-button aria-label="share this post" class="md-fab md-warn">-->
                            <!--<md-icon md-font-icon="zmdi zmdi-share"></md-icon>-->
                        <!--</md-button>-->
                    <!--</md-fab-trigger>-->

                    <!--<md-fab-actions>-->
                        <!--<md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="share('Shared on Twitter', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-twitter"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="share('Shared on Facebook', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-facebook"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="google-plus" class="md-fab md-raised md-mini" ng-click="share('Shared on Google+', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-google-plus"></md-icon>-->
                        <!--</md-button>-->
                    <!--</md-fab-actions>-->
                <!--</md-fab-speed-dial>-->
            <!--</div>-->
        <!--</tri-widget>-->
        <!--<tri-widget class="widget-blog" palette-background="teal:300">-->
            <!--<img src="person/bill-gates.jpg">-->
            <!--<div class="widget-blog-text padding-20" ng-cloak>-->
                <!--<h2>Instructor Name</h2>-->
                <!--<h2>Style:####</h2>-->
                <!--<md-fab-speed-dial md-direction="up" class="md-fling">-->
                    <!--<md-fab-trigger>-->
                        <!--<md-button aria-label="share this post" class="md-fab md-warn">-->
                            <!--<md-icon md-font-icon="zmdi zmdi-share"></md-icon>-->
                        <!--</md-button>-->
                    <!--</md-fab-trigger>-->

                    <!--<md-fab-actions>-->
                        <!--<md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="share('Shared on Twitter', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-twitter"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="share('Shared on Facebook', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-facebook"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="google-plus" class="md-fab md-raised md-mini" ng-click="share('Shared on Google+', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-google-plus"></md-icon>-->
                        <!--</md-button>-->
                    <!--</md-fab-actions>-->
                <!--</md-fab-speed-dial>-->
            <!--</div>-->
        <!--</tri-widget>-->
        <!--<tri-widget class="widget-blog" palette-background="teal:300">-->
            <!--<img src="person/bill-gates.jpg">-->
            <!--<div class="widget-blog-text padding-20" ng-cloak>-->
                <!--<h2>Instructor Name</h2>-->
                <!--<h2>Style:####</h2>-->
                <!--<md-fab-speed-dial md-direction="up" class="md-fling">-->
                    <!--<md-fab-trigger>-->
                        <!--<md-button aria-label="share this post" class="md-fab md-warn">-->
                            <!--<md-icon md-font-icon="zmdi zmdi-share"></md-icon>-->
                        <!--</md-button>-->
                    <!--</md-fab-trigger>-->

                    <!--<md-fab-actions>-->
                        <!--<md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="share('Shared on Twitter', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-twitter"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="share('Shared on Facebook', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-facebook"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="google-plus" class="md-fab md-raised md-mini" ng-click="share('Shared on Google+', $event)">-->
                            <!--<md-icon md-font-icon="fa fa-google-plus"></md-icon>-->
                        <!--</md-button>-->
                    <!--</md-fab-actions>-->
                <!--</md-fab-speed-dial>-->
            <!--</div>-->
        <!--</tri-widget>-->


    <!--<tri-widget class="widget-blog">-->
        <!--<img src="person/bill-gates.jpg">-->
        <!--<div class="widget-blog-text padding-20" ng-cloak>-->
            <!--<h2>It's all about Material</h2>-->
             <!--<md-fab-speed-dial md-direction="up" class="md-fling">-->
                <!--<md-fab-trigger>-->
                    <!--<md-button aria-label="share this post" class="md-fab md-warn">-->
                        <!--<md-icon md-font-icon="zmdi zmdi-share"></md-icon>-->
                    <!--</md-button>-->
                <!--</md-fab-trigger>-->

                <!--<md-fab-actions>-->
                    <!--<md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="share('Shared on Twitter', $event)">-->
                        <!--<md-icon md-font-icon="fa fa-twitter"></md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="share('Shared on Facebook', $event)">-->
                        <!--<md-icon md-font-icon="fa fa-facebook"></md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="google-plus" class="md-fab md-raised md-mini" ng-click="share('Shared on Google+', $event)">-->
                        <!--<md-icon md-font-icon="fa fa-google-plus"></md-icon>-->
                    <!--</md-button>-->
                <!--</md-fab-actions>-->
            <!--</md-fab-speed-dial>-->
        <!--</div>-->
    <!--</tri-widget>-->






    <!--<div layout="row" layout-xs="column" layout-align="space-around center" layout-margin>-->
        <!--<div ng-repeat="x in vm.items | filter:vm.itemFilter " layout-align="space-around center" layout-margin>-->

            <!--<tri-widget palette-background="teal:300" >-->

            <!--</tri-widget>-->

        <!--</div>-->

    <!--</div>-->

    <!--<button ng-click="vm.addItem()" > Create </button>-->

        <!--<form action="addItem()">-->

    <!--<table bgcolor="gray">-->
       <!--<tr><td> NAME:</td> <td><input ng-model="tn"></td></tr>-->
        <!--<tr><td>SUTDENT: </td><td><input ng-model="ts"></td></tr>-->
      <!--<tr> <td> STUDENT_LOCATION:</td> <td><input ng-model="tl"></td></tr>-->
      <!--<tr> <td>STUDENT_AGE:</td><td> <input ng-model="ta"></td><br></tr>-->
       <!--<tr> <td>STUDENT_JOIN_DATE:</td> <td><input ng-model="td"></td></tr>-->
    <!--<tr><td><button  ng-click="vm.addItem(tn,ts,tl,ta,td)" > create </button></td>-->
        <!--&lt;!&ndash;<input type="submit" value="create">&ndash;&gt;-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->

        <!--<td> <button  ng-click="vm.savedata()" > Save_Data </button></td>-->
    <!--</tr>-->
    <!--</table>-->


    <!--<tri-widget palette-background="teal:300" class="img">-->
        <!--<a target="_blank" href="img_forest.jpg">-->
            <!--<img ng-src="person/bill-gates.jpg" alt="Forest" width="400" height="200">-->
        <!--</a>-->
        <!--<div class="desc">sam-killermann CEO of ######</div>-->
    <!--</tri-widget>-->

    <!--<tri-widget palette-background="teal:300" class="img">-->
        <!--<a target="_blank" href="img_forest.jpg">-->
            <!--<img ng-src="person/sam-killermann.jpg" alt="Forest" width="400" height="200">-->
        <!--</a>-->
        <!--<div class="desc">sam-killermann CEO of ######</div>-->
    <!--</tri-widget>-->
    <!--<tri-widget palette-background="teal:300" class="img">-->
        <!--<a target="_blank" href="img_forest.jpg">-->
            <!--<img ng-src="person/sam-killermann.jpg" alt="Forest" width="400" height="200">-->
        <!--</a>-->
        <!--<div class="desc">sam-killermann CEO of ######</div>-->
    <!--</tri-widget>-->
    <!--<tri-widget palette-background="teal:300" class="img">-->
        <!--<a target="_blank" href="img_forest.jpg">-->
            <!--<img ng-src="person/sam-killermann.jpg" alt="Forest" width="400" height="200">-->
        <!--</a>-->
        <!--<div class="desc">sam-killermann CEO of ######</div>-->
    <!--</tri-widget>-->
    <!--<tri-widget palette-background="teal:300" class="img">-->
        <!--<a target="_blank" href="img_forest.jpg">-->
            <!--<img ng-src="person/sam-killermann.jpg" alt="Forest" width="400" height="200">-->
        <!--</a>-->
        <!--<div class="desc">sam-killermann CEO of ######</div>-->
    <!--</tri-widget>-->




</md-content>
