
<div>

    <div layout="row" layout-align="center center">
        <p flex="70"  flex-xs="90" class="md-headline font-weight-300 text-center text-light" translate>STUDENT REGISTRAION FORM</p>
    </div>

    <div flex layout="row" layout-align="center center" layout-fill>
        <div flex="90" class="md-whiteframe-z1 margin-bottom-100" tri-wizard>
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <<h2> {{triWizard.progress}}% <span translate>Complete</span></h2>
                </div>
                <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
            </md-toolbar>
            <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
                <md-tab id="account">
                    <md-tab-label>
                        <span class="oxy-step-label">1</span>
                        <span translate>Student details</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <form name="accountForm" tri-wizard-form novalidate>
                                <div>
                                    <!--<md-input-container class="md-block">-->
                                        <!--<label translate>FORMS.WIZARD.USERNAME</label>-->
                                        <!--<input name="username" ng-model="wizardController.data.account.username" required>-->
                                        <!--<div ng-messages="accountForm.username.$error">-->
                                            <!--<div ng-message when="required">-->
                                                <!--<span translate>FORMS.WIZARD.PLEASE-ENTER</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</md-input-container>-->
                                    <div layout layout-xs="column" flex>
                                        <md-input-container flex>
                                            <label translate>First Name</label>
                                            <input name="firstName" ng-model="vm.getData.firstName" required>
                                            <div ng-messages="addressForm.firstName.$error">
                                                <div ng-message when="required">
                                                    <span translate>Please enter first Name</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label translate>Last Name</label>
                                            <input name="lastName" ng-model="vm.getData.lastName" required>
                                            <div ng-messages="addressForm.lastName.$error">
                                                <div ng-message when="required">
                                                    <span translate>Please Enter Last Name</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <md-input-container flex>
                                        <label translate>Birth Year</label>
                                        <input name="Year" ng-model="vm.getData.Year" ng-minlength="4" ng-maxlength="4" ng-pattern="/^[0-9]+$/" required>
                                        <div ng-messages="billingForm.cardYear.$error">
                                            <div ng-message when="required">
                                                <span translate>Please Enter Date Of Birth</span>
                                            </div>
                                        </div>
                                    </md-input-container>

                                    <div layout layout-xs="column" flex>

                                        <md-input-container class="md-block">
                                            <label>Email</label>
                                            <input type="email" name="email" ng-model="wizardController.data.account.email" required>
                                            <div ng-messages="accountForm.email.$error">
                                                <div ng-message when="required">
                                                    <span translate>Please Enter E-mail</span>
                                                </div>
                                                <div ng-message when="email">
                                                    <span translate>Valid E-mail</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label translate>Contact Number</label>
                                            <input name="MobileNumber" ng-model="wizardController.data.address.MobileNumber" required>
                                            <div ng-messages="addressForm.MobileNumber.$error">
                                                <div ng-message when="required">
                                                    <span translate>Please enter Contact Number</span>
                                                </div>
                                            </div>
                                        </md-input-container>

                                        </div>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab id="address" ng-disabled="accountForm.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">2</span>
                        <span translate>Full Address</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <form name="addressForm" tri-wizard-form>
                                <div>

                                    <md-input-container class="md-block">
                                        <label translate>Addrees</label>
                                        <input name="address1" ng-model="vm.getData.line1" required>
                                        <div ng-messages="addressForm.address1.$error">
                                            <div ng-message when="required">
                                                <span translate>Please Enter</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>ADDRESS-2</label>
                                        <input ng-model="vm.getData.line2">
                                    </md-input-container>
                                    <div layout layout-xs="column" flex>
                                        <md-input-container flex>
                                            <label translate>Town</label>
                                            <md-select ng-change="triWizard.updateProgress()" name="town" ng-model="vm.getData.Town" required>
                                                <md-option value="pune" translate>Pune</md-option>
                                                <md-option value="Kanpur" translate>Kanpur</md-option>
                                            </md-select>
                                            <div ng-messages="addressForm.State.$error">
                                                <div ng-message when="required">
                                                    <span translate>PLEASE-ENTER</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label translate>State</label>
                                            <md-select ng-change="triWizard.updateProgress()" name="State" ng-model="vm.getData.State" required>
                                                <md-option value="UP" translate>UP</md-option>
                                                <md-option value="Uttrakhand" translate>Uttrakhand</md-option>
                                            </md-select>
                                            <div ng-messages="addressForm.State.$error">
                                                <div ng-message when="required">
                                                    <span translate>PLEASE-ENTER</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout layout-xs="column" flex>
                                        <md-input-container flex>
                                            <label translate>ZIP_Code</label>
                                            <input name="zip" ng-model="vm.getData.zip" required>
                                            <div ng-messages="addressForm.zip.$error">
                                                <div ng-message when="required">
                                                    <span translate>Please Enter</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label translate>COUNTRY</label>
                                            <md-select ng-change="triWizard.updateProgress()" name="country" ng-model="vm.getData.country" required>
                                                <md-option value="US" translate>US</md-option>
                                                <md-option value="india" translate>india</md-option>
                                            </md-select>
                                            <div ng-messages="addressForm.country.$error">
                                                <div ng-message when="required">
                                                    <span translate>PLEASE-ENTER</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <!--<md-tab id="billing" ng-disabled="addressForm.$invalid">-->

                    <!--<md-tab-body>-->
                        <!--<md-content class="md-padding">-->
                            <!--<form name="billingForm" tri-wizard-form>-->
                                <!--<div>-->
                                    <!--<md-input-container class="md-block">-->
                                        <!--<label translate>FORMS.WIZARD.CARD-NUMBER</label>-->
                                        <!--<input name="cardNumber" ng-model="wizardController.data.billing.number" required>-->
                                        <!--<div ng-messages="billingForm.cardNumber.$error">-->
                                            <!--<div ng-message when="required">-->
                                                <!--<span translate>FORMS.WIZARD.PLEASE-ENTER</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</md-input-container>-->
                                    <!--<md-input-container class="md-block">-->
                                        <!--<label translate>FORMS.WIZARD.CARD-NAME</label>-->
                                        <!--<input name="cardName" ng-model="wizardController.data.billing.name" required>-->
                                        <!--<div ng-messages="billingForm.cardName.$error">-->
                                            <!--<div ng-message when="required">-->
                                                <!--<span translate>FORMS.WIZARD.PLEASE-ENTER</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</md-input-container>-->
                                <!--</div>-->
                                <!--<div layout layout-xs="column" flex>-->
                                    <!--<md-input-container flex>-->
                                        <!--<label translate>FORMS.WIZARD.CARD-EX-MONTH</label>-->
                                        <!--<input name="cardMonth" ng-model="wizardController.data.billing.cardMonth" ng-minlength="2" ng-maxlength="2" ng-pattern="/^(0?[1-9]|1[012])$/" required>-->
                                        <!--<div ng-messages="billingForm.cardMonth.$error">-->
                                            <!--<div ng-message when="required">-->
                                                <!--<span translate>FORMS.WIZARD.PLEASE-ENTER</span>-->
                                            <!--</div>-->
                                            <!--<div ng-message when="maxlength">-->
                                                <!--<span translate>FORMS.WIZARD.CARD-MONTH-ERROR</span>-->
                                            <!--</div>-->
                                            <!--<div ng-message when="minlength">-->
                                                <!--<span translate>FORMS.WIZARD.CARD-MONTH-ERROR</span>-->
                                            <!--</div>-->
                                            <!--<div ng-message when="pattern">-->
                                                <!--<span translate>FORMS.WIZARD.CARD-MONTH-ERROR</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</md-input-container>-->
                                    <!--<md-input-container flex>-->
                                        <!--<label translate>FORMS.WIZARD.CARD-EX-YEAR</label>-->
                                        <!--<input name="cardYear" ng-model="wizardController.data.billing.cardYear" ng-minlength="4" ng-maxlength="4" ng-pattern="/^[0-9]+$/" required>-->
                                        <!--<div ng-messages="billingForm.cardYear.$error">-->
                                            <!--<div ng-message when="required">-->
                                                <!--<span translate>FORMS.WIZARD.PLEASE-ENTER</span>-->
                                            <!--</div>-->
                                            <!--<div ng-message when="maxlength">-->
                                                <!--<span translate>FORMS.WIZARD.CARD-YEAR-ERROR</span>-->
                                            <!--</div>-->
                                            <!--<div ng-message when="minlength">-->
                                                <!--<span translate>FORMS.WIZARD.CARD-YEAR-ERROR</span>-->
                                            <!--</div>-->
                                            <!--<div ng-message when="pattern">-->
                                                <!--<span translate>FORMS.WIZARD.CARD-YEAR-ERROR</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</md-input-container>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</md-content>-->
                    <!--</md-tab-body>-->
                <!--</md-tab>-->
                <md-tab id="confirm" ng-disabled="addressForm.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">3</span>
                        <span translate>Confirm</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <div class="padding-40" flex layout="column" layout-align="center center">
                                <md-icon class="big-icon" md-font-icon="zmdi zmdi-cake"></md-icon>
                                <h2 class="md-display-2" translate>Successfully Uploaded</h2>
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <div class="wizard-navbar" layout-fill layout-padding layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep >= 2" ng-disabled="triWizard.prevStepDisabled()" translate="Previous"></md-button>
                <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.progress == 100 && triWizard.currentStep > 1" ng-disabled="triWizard.nextStepDisabled()" translate="Next"></md-button>
                <md-button class="md-accent md-raised" ng-click="triWizard.currentStep = 2" ng-show="triWizard.progress == 100 && triWizard.currentStep < 2" translate="Submit"></md-button>
            </div>
        </div>
    </div>
</div>
<!--<md-content class="padded-content-page">-->
    <!--&lt;!&ndash;<div layout="row" layout-align="center center">&ndash;&gt;-->
        <!--&lt;!&ndash;<h2 class="md-display-3" translate>{{vm.testData.title}}</h2>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="margin-20" layout="row" layout-align="center center">&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="seed-list">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="md-headline">&ndash;&gt;-->
                <!--&lt;!&ndash;{{vm.testData.content}}&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</md-content>-->
