.seed-list {
  list-style: lower-greek;
}

.md-select-form {
    display: inline-block;
    margin-top: 2px;
    width: 100%;
    span {
        width: 100%;
    }
}

//my CSS

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */ }
.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
.datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }

//our css

.inputdemoBasicUsage .md-datepicker-button {
    width: 36px; }
