<!-- right sidebar -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="example-right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
    </md-toolbar>
    <md-content class="md-padding">
        <p>This is the right sidebar</p>
    </md-content>
</md-sidenav>


<!-- left sidebar -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="example-left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>
    <md-content class="md-padding">
        <p>This is the left sidebar</p>
    </md-content>
</md-sidenav>

<!-- open sidebar buttons -->
<div layout="column" layout-fill layout-align="center center">
    <h2>Click a button to see a sidebar in action</h2>
    <div layout="row">
        <md-button class="md-primary md-raised" ng-click="vm.openSidebar('example-left')">Show Left</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.openSidebar('example-right')">Show Right</md-button>
    </div>
</div>