<span>Default - Value: {{sliders.default}}</span>
<md-slider min="0" max="100" ng-model="sliders.default" ng-init="sliders.default = 50" aria-label="default value"></md-slider>

<span>Primary - Value: {{sliders.primary}}</span>
<md-slider class="md-primary" min="0" max="100" ng-model="sliders.primary" ng-init="sliders.primary = 50" aria-label="primary value"></md-slider>

<span>Accent - Value: {{sliders.accent}}</span>
<md-slider class="md-accent" min="0" max="100" ng-model="sliders.accent" ng-init="sliders.accent = 50" aria-label="accent value"></md-slider>
