<md-button class="md-fab md-primary md-fab-top-right" ng-click="vm.showToast($event, 'top right')" aria-label="top right toast">
    <md-icon md-font-icon="zmdi zmdi-comment-dots"></md-icon>
</md-button>
<md-button class="md-fab md-primary md-fab-bottom-right" ng-click="vm.showToast($event, 'bottom right')" aria-label="bottom right toast">
    <md-icon md-font-icon="zmdi zmdi-comment-dots"></md-icon>
</md-button>
<md-button class="md-fab md-primary md-fab-top-left" ng-click="vm.showToast($event, 'top left')" aria-label="top left toast">
    <md-icon md-font-icon="zmdi zmdi-comment-dots"></md-icon>
</md-button>
<md-button class="md-fab md-primary md-fab-bottom-left" ng-click="vm.showToast($event, 'bottom left')" aria-label="bottom left toast">
    <md-icon md-font-icon="zmdi zmdi-comment-dots"></md-icon>
</md-button>
<div layout="row" layout-fill layout-align="center center">
    <h2>Click a button to see a toast in action</h2>
</div>
