.sales-dashboard {
  .status {
    padding: 8px 14px;
    border-radius: 6px;
    min-width: 60px;
    display: inline-block;
    text-align: center;
    color: #fff;
  }
  .status-delivered {
    background-color: #26C6DA;
  }
  .status-complete {
    background-color: #8BC34A;
  }
  .status-pending {
    background-color: #FF9800;
  }
}