
<div class="md-toolbar-tools">

    <!--<md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">-->
        <!--<md-icon md-font-icon="zmdi zmdi-menu"></md-icon>-->
    <!--</md-button>-->







    <h2 hide-xs flex>
        <span ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span>{{crumb.name}}</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last"></md-icon>
        </span>
    </h2>

    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleFullScreen()" aria-label="toggle fullscreen">
        <md-icon md-font-icon ng-class="vm.fullScreenIcon"></md-icon>
    </md-button>


    <md-button class="md-icon-button" ng-click="vm.toggleSearch()" aria-label="{{'ADMIN.TOOLBAR.SIDEBAR_TOGGLE' | translate}}">
        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
    </md-button>
    <input class="toolbar-search" ng-show="vm.showSearch" ng-model="emailSearch" ng-change="vm.filterEmailList(emailSearch)" type="text" placeholder="{{'Search here' | translate}}">
    <h3>{{vm.fbUserName}}</h3>
    <md-button ng-click="showAdvanced()"  class="toolbar-button animated" >
        <h3 ng-if="!vm.fbUserName">Login</h3>
        <h3 ng-if="vm.fbUserName">Logout</h3>
    </md-button>





</div>

